@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;400;800&family=Rubik+80s+Fade&family=Rubik+Vinyl&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color:rgb(255, 246, 0);
  overflow: hidden;
}

.topnav {
  overflow: hidden;
  border-bottom: 0.4rem black solid;
}

.bottomnav {
  overflow: hidden;
  border-top: 0.4rem black solid;
  z-index: 100;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(255, 246, 0);
}

.topnav h3 {
    margin: 0;
    padding: 0;
    color: rgb(255, 246, 0);
}

.bottomnav p {
  margin: 0;
  padding: 0;
  padding-right: 30px;
  color: rgb(255, 246, 0);
  float: right;
  color: black;
  font-size: 1.5rem;
}

.topnav .logo {
  float: left;
  color: black;
}

.fbi {
  color:rgb(183, 119, 208);
}

.topnav a {
  font-family: 'Martian Mono', monospace;
  float: right;
  color: black;
  text-align: center;
  padding: 0.5rem 2.2rem;
  text-decoration: none;
  font-size: 17px;
}

.bottomnav a {
  font-family: 'Martian Mono', monospace;
  float: left;
  color: black;
  text-align: center;
  padding: 0.5rem 2.2rem;
  text-decoration: none;
  font-size: 17px;
}

.bottomnav a:hover {
  background-color:#04AA6D;
  color: white;
}

.topnav a:hover {
  background-color:#04AA6D;
  color: white;
}

.bottomnav a.active {
  background-color: rgb(183, 119, 208);
  color: white;
}
.topnav a.active {
  background-color: rgb(183, 119, 208);
  color: white;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.title {
  padding-top: 440px;
  transform: translateZ(-1px) scale(1.5);
  text-align: center;
  font-size: 8em;
  color: rgb(183, 119, 208);
  font-family: "Patua One";
}

.background--1 {
  padding-bottom: 2000px;
  transform: translateZ(-15px) scale(.5);
}

.background--2 {
  transform: translateZ(-10px) scale(2.1);
}

.background--3 {
  transform: translateZ(-5px) scale(1.6);
}

.worm {
  transform: translateZ(-4.9px) scale(1.5);
}

.background--4 {
  transform: translateZ(-4.7px) scale(1.6);
}

.background--5 {
  transform: translateZ(-4px) scale(1.3);
}

.background--6 {
  transform: translateZ(-4px) scale(1.5);
  padding-top: 900px;
}

.background--1, .background--2, .background--3, .background--4, .background--5, .background--6, .worm {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: contain;
  z-index: -1;
}

.bg1 {
  transform: translateZ(-17px) scale(2.8);
  padding-right: 10px;
  padding-top: 50px;
}

.bg2 {
  transform: translateZ(-12px) scale(2.45);
  padding-bottom: 200px;
  padding-left: 500px;
}

.bg3 {
  transform: translateZ(-6px) scale(.5);
  padding-top: 1100px;
}

.bg4 {
  transform: translateZ(-5px) scale(.6);
  padding-bottom: 450px;
  padding-right: 300px;
}

.bg5 {
  transform: translateZ(-6px) scale(.5);
  padding-bottom: 2200px;
}

.bg6 {
  transform: translateZ(-4px) scale(2);
  padding-bottom: 200px;
  padding-left: 100px;
}

.bg7 {
  transform: translateZ(-2.5px) scale(1.9);
  padding-left: 300px;
  padding-top: 400px;
}

.bg8 {
  transform: translateZ(-2px) scale(1.5);
  padding-top: 1160px;
}

.bg1, .bg2, .bg3, .bg4, .bg5, .bg6, .bg7, .bg8 {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: contain;
  z-index: -1;
}

section {
  padding-top: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0;
  color: rgb(0, 0, 0);
  margin: 0;
}

p, h2 {
  font-family: "Patua One";
  padding-top: 15rem;
}

p {
  font-size: 2rem;
}

h2 {
  font-size: 7rem;
  color: rgb(183, 119, 208);
}

h3 {
  text-align: center;
  font-size: 3rem;
  color: rgb(183, 119, 208);
}

.break {
  padding-top: 150px;
}

.smaller {
  font-size: 4rem;
  color:#04AA6D;
}

.car {
  height: auto;
  max-width: 50%;
  float: right;
  margin: 10px;
  padding: 10px;
}

.some--text {
  padding-top: 400px;
  text-align: center;
  padding-bottom: 0;
}

.container {
  justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
}

.email--button {
  width: 7%;
  height: auto;
  display: block;
  margin: 50px auto;
  padding: 0;
}

.email--text {
  text-align: center;
  margin: auto;
  padding-top: 50px;
}
